version: "3"

services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: portfolio

  backend:
    build: ./backend
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "80:80"
